# Logger
LOG_LEVEL=

# App
APP_HOST=
APP_PORT=
APP_RELOAD=

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_TEST_DB=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
