[flake8]
max-line-length = 100
extend-ignore = E203, W503, E501
exclude =
    migrations/,
    __pycache__,
    .git,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    build,
    lib,
    .idea,
    .vscode,
    .ruff_cache
